<div class="footer">
	<div class="footer-con clearfloat">
		<dl>
			<dt>关于361°</dt>
			<dd><a href="javascript:;" target="_blank">投资者关系</a></dd>
			<dd><a href="javascript:;">集团简介</a></dd>
			<dd><a href="javascript:;" target="_blank">361°BIFT</a></dd>
			<dd><a href="javascript:;">社会责任</a></dd>
			<dd><a href="javascript:;">品牌历程</a></dd>
			<dd><a href="javascript:;">品牌新闻</a></dd>
			<dd><a href="javascript:;">集团招聘</a></dd>
			<dd><a href="javascript:;">联系我们</a></dd>
		</dl>
		<dl>
			<dt>如何购物</dt>
			<dd><a href="javascript:;" target="_blank">店铺查询</a></dd>
			<dd><a href="javascript:;">购物流程</a></dd>
			<dd><a href="javascript:;">订单查询</a></dd>
			<dd><a href="javascript:;">会员及积分体系</a></dd>
		</dl>
		<dl>
			<dt>支付方式</dt>
			<dd><a href="javascript:;">支付方式</a></dd>
			<dd><a href="javascript:;">发票说明</a></dd>
		</dl>
		<dl>
			<dt>物流配送</dt>
			<dd><a href="javascript:;">配送时间和范围</a></dd>
			<dd><a href="javascript:;">配送费用</a></dd>
			<dd><a href="javascript:;">商品验收</a></dd>
		</dl>
		<dl>
			<dt>售后服务</dt><dd><a href="javascript:;">退换货流程</a></dd>
			<dd><a href="javascript:;">售后服务政策</a></dd>
		</dl>
		<dl>
			<dt>联系方式</dt>
			<dd>QQ客服：476849964</dd>
			<dd>全国服务热线</dd>
			<dd>400-6661-361</dd>
			<dd>工作时间：周一至周五（工作日）</dd>
			<dd>(9:00-12:00   13:00-18:00)</dd>
			<dd style="margin-top: 20px;">地址：福建省厦门市湖里区墩岭路159号三六一度大楼</dd>
			<dd>邮编：361009</dd>
		</dl>
		<div class="fr footerConcern-us">
			<h2>关注我们</h2>

			<ul>
				<li>
					<a href="javascript:;">
						<img src="/static/images/microblog.png">
					</a>
				</li>
				<li class="WeChat" id="WeChat">
					<img src="/static/images/WeChat.png">
				</li>
			</ul>
			<div class="code" id= "code">
				<div>
					<img src="/static/images/subscription.jpg">
					<p>361°订阅号</p>
				</div>
				<div>
					<img src="/static/images/service.jpg">
					<p>361°服务号</p>
				</div>
			</div>

		</div>

	</div>
		<p class="certificate">
			<a href="javascript:;" style="color: #808080; margin-right: 50px;">友情链接</a>
			中国 闽ICP备05003868号 ©2013 三六一度(中国)有限公司 All Rights Reserved
		</p>
</div>
