
	<div class="header" id="header">
		<a href="javascript:;" class="area" id="area">English</a>				
		<div id="logo" class="logo">
			<a href="/"><img src="/static/images/logo.png"/></a>
		</div>
		<div class="nav" id="nav">
			<ul>
				<li><a href="/">首页</a></li>
				<li id="store"><a href="javascript:;">商城</a></li>
				<li><a href="javascript:;">新闻</a></li>
				<li><a href="javascript:;">团购定制</a></li>
			</ul>
		</div>

		<div class="nav-right" id="nav-right">
			<div class="search">
				<input type="text" placeholder="查找鞋服" />
				<button class="search-input"></button>
			</div>
			<div class="personal">
				<a href="/html/login.html" class="personal-img"></a>
			</div>
			<a href="javascript:;" class="shopping" id="shopping"><span>0</span></a>
		</div>
		
		<div class="shoppingCart" id="shoppingCart">
			<div class="no-shopping">
				<h2>您的购物车还没有产品</h2>
				<button>去逛逛</button>
			</div>
		</div>
		
		<div class="mall-nav" id="mall-nav">
			<div class="mall-nav-con">
				<ul class="mall-nav-tit">
					<li><a href="javascript:;">新品上市</a></li>
					<li><a href="javascript:;">热卖上市</a></li>
				</ul>
				<ul>
					<li class="mall-nav-tit2"><a href="javascript:;">男鞋</a></li>
					<li><a href="javascript:;">跑步鞋</a></li>
					<li><a href="javascript:;">篮球鞋</a></li>
					<li><a href="javascript:;">休闲生活鞋</a></li>
					<li><a href="javascript:;">综训鞋</a></li>
					<li><a href="javascript:;">户外鞋</a></li>
					<li><a href="javascript:;">滑板鞋</a></li>
				</ul>
				<ul>
					<li class="mall-nav-tit2"><a href="javascript:;">女鞋</a></li>
					<li><a href="javascript:;">跑步鞋</a></li>
					<li><a href="javascript:;">休闲生活鞋</a></li>
					<li><a href="javascript:;">综训鞋</a></li>
					<li><a href="javascript:;">户外鞋</a></li>
					<li><a href="javascript:;">滑板鞋</a></li>
				</ul>
				<ul>
					<li class="mall-nav-tit2"><a href="javascript:;">男装</a></li>
					<li><a href="javascript:;">T恤/polo/背心</a></li>
					<li><a href="javascript:;">卫衣</a></li>
					<li><a href="javascript:;">外套/马甲</a></li>
					<li><a href="javascript:;">篮球服</a></li>
					<li><a href="javascript:;">健身服</a></li>
					<li><a href="javascript:;">裤装</a></li>
				</ul>
				<ul>
					<li class="mall-nav-tit2"><a href="javascript:;">女装</a></li>
					<li><a href="javascript:;">T恤/polo/背心</a></li>
					<li><a href="javascript:;">卫衣</a></li>
					<li><a href="javascript:;">外套/马甲</a></li>
					<li><a href="javascript:;">篮球服</a></li>
					<li><a href="javascript:;">健身服</a></li>
					<li><a href="javascript:;">裤装</a></li>
				</ul>
			</div>
		</div>
	</div>
