.commodity {
    position: relative;
    float: left;
    margin: 0 12px;
    margin-bottom: 24px;
    cursor: pointer;
    width: 350px;
    height: 445px;
    background-color: white;
    /* padding: 5px 20px; */
    text-align: center;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    display: inline-block;
}
.commodity img {
    max-width: 350px;
    min-height: 350px;
    border-radius: 5px 5px 0 0;
    width: 350px;
    display: block;
}
.commodity-position {
    position: relative;
    display: none;
}
.commodity:hover .commodity-position {
    display: block;
}
.commodity-strong {
    margin-top: 8px;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 306px;
    height: 68px;
    overflow: hidden;
}
.commodity-strong li {
    width: 68px;
    height: 68px;
    min-height: 68px;
    float: left;
    margin: 0 4px;
}
.commodity-strong img {
    width: 100%;
    min-height: 100%;
}
.commodity h3 {
    width: 300px;
    color: #333;
    margin: 0 auto;
    margin-top: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 1.8rem;
}
.commodity p {
    color: #f99302;
    padding: 15px 0 30px;
    font-size: 1.8rem;
}
.commodity-div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;
    border-radius: 5px;
}
.commodity:hover .commodity-div {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    transform: translate(0,-5px);
    border-color: transparent;
    z-index: 89;
}